include ../blocks/header/header.pug
include ../blocks/content-area/content-area.pug
include ../blocks/main/main.pug
include ../blocks/offers/offers.pug
include ../blocks/timer/timer.pug
include ../blocks/options/options.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/sidebar/sidebar.pug
